* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 2%;
  margin: 2%;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  box-sizing: border-box;
  padding: 1.5%;
  gap: 20px;
  align-items: center;
}

.hide {
  display: none;
}

#cat-type {
  background-color: #99ccff;
  color: #1338be;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}
